@media screen and (min-width:801px) {
    
    body, footer {
        background-color: #f5f5f5;
    }
    
    .position {
        width: 900px;
        margin-top: -8px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .parts,
    .item {
        background-color: #ffffff;
    }
    
    
    .nav {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        left: -250px;
        padding: 15px 20px;
        /* плавный переход смещения панели */
        transition: left 0.5s;
        background: #0f8ec7;
        z-index: 2000;
    }


    .nav-button {
        position: absolute;
        left: 250px;
        top: 15px;
        padding: 0.5em;
        background: inherit;
        color: #dadada;
        cursor: pointer;
        font-size: 1.2em;
        line-height: 1;
        z-index: 2001;
        /* анимир. цвет текста при наведении */
        transition: color .25s ease-in-out;
    }

    .nav-button:after {
        content: '\2630';
        text-decoration: none;
    }

    .nav-button:hover {
        color: #f4f4f4;
    }


    [id='nav-button'] {
        position: absolute;
        display: none;
    }
    
    .nav h1 {
        width: 90%;
        padding: 0;
        margin: 5px 0px 10px 0px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, .5) 1px 1px 3px;
        font-size: 1.3em;
        line-height: 1.3em;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
    }


    [id='nav-button']:checked + .nav {
        left: 0;
        box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto; /*для полосы прокрутки при необходимости*/
    }


    [id='nav-button']:checked + .nav > .nav-button:after {
        content: '\2715';
    }


    .nav > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav > ul > li {
        line-height: 2.5;
        transform: translateX(-50%);
        transition: transform .5s .1s;
    }

    [id='nav-button']:checked ~ .nav > ul > li {
        transform: translateX(0);
    }


/* интервалы появления пунктов меню */

    .nav > ul > li:nth-child(2) {
        transition: transform .5s .1s;
    }

    .nav > ul > li:nth-child(3) {
        transition: transform .5s .2s;
    }

    .nav > ul > li:nth-child(4) {
        transition: transform .5s .3s;
    }


    .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        color: #dadada;
        width: 100%;
        text-decoration: none;
        /* плавный переход */
        transition: color .5s ease, padding .5s ease;
    }


    .nav > ul > li > a:hover,
    .nav > ul > li > a:focus {
        color: white;
        padding-left: 15px;
    }


/**
 * линия подчеркивания ссылок меню
 */

    .nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1.1px;
        width: 100%;
        transition: width 0s ease;  //начинается медленно, ускоряется, замедляется в конце
    }
    
    .nav > ul > li > a:hover:before {
        width: 0%;
        background: #ffffff;
        transition: width .8s ease;
    }

    
    .nav > ul > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1.1px;
        width: 100%;
        background: #ffffff;
        transition: width .5s ease;
    }


    .nav > ul > li > a:hover:after {
        width: 0%;
        background: transparent;
        transition: width 0s ease;
    }
    
    
    
    .morgan_stanley_logo {
        display: inline-block;
        width: 155px;
        height: 50px;
        background-image: url(pic/Morgan_Stanley_logo.png);
        background-repeat: no-repeat;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    
    .liv_giv_logo {
        display: inline-block;
        width:250px;
        height: 50px;
        background-image: url(pic/living_giving.png);
        background-repeat: no-repeat;
        margin-left: 440px;
        margin-bottom: 10px;
    }
    
    .preview {
        position: relative;
    }
    
    .travel_offers + span {
        position: absolute;
        left:45px;
        top: 20px;
        width:310px;
        font-family: "Corbel Light";
        color:  #ffffff;
        font-size: 42px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-align: left;
    }
    
    .travel_offers {
        background-image: url(pic/Layer_933.png);
        width: 900px;
        height: 360px;
        background-repeat: no-repeat;
        background-position: -25px -180px;
        margin-bottom: 30px;
    }
    
    a.button_white {
        box-sizing: border-box;
        display: block;
        background: #ffffff;
        border: 3px solid #ffffff;
        border-radius: 40px;
        color: #0f8ec7;
        text-decoration: none;
        text-align: center;      
        font-family: "Helvetica";
        font-weight: 400;
    }
    
    a.button_blue {
        box-sizing: border-box;
        display: block;
        background: #0f8ec7;
        border: 3px solid #0f8ec7;
        border-radius: 40px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        font-family: "Helvetica";
        font-weight: 400;
    }
    
    a.button_white:hover,
    a.button_blue:hover {
        border: 3px solid #c2c2c2;
    }
    
    .button_view_offers {
        width:130px;
        height: 30px;
        position: absolute;
        left:45px;
        top:300px;
        padding-top: 5px;
        font-size: 13px;
    }
    
    .label {
        font-family: "Helvetica";
        color:  #666666;
        font-size: 18.85px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: center; 
        margin-top: -5px;
    }
    
    .button_enroll_now {
        width:130px;
        height: 45px;
/*        padding-top: 8px;*/
        font-size: 15px;
        line-height: 40px;
        margin: -15px auto 30px auto;
    }
    
    .saks_avenue {
        width: 900px;
        height: 280px;
        background: url(pic/Skyline3.png) no-repeat;
        background-size: cover;
    }
    
    .saks_avenue + span {
        position: absolute;
        left:45px;
        top: 525px;
        width:350px;
        font-family: "Corbel Light";
        color:  #ffffff;
        font-size: 42px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-align: left;
    }
    
    .saks_offer {
        position: absolute;
        left:45px;
        top: 565px;
        width:350px;
        font-family: "Corbel Light";
        color:  #ffffff;
        font-size: 16px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-align: left;
    }
    
    .button_saks {
        position: absolute;
        top: 730px;
        left: 45px;
        width:100px;
        height: 30px;
        padding-top: 4.5px;
        font-size: 13px;
    }
    
    .offers {
        padding-top: 25px;
        margin-bottom: 25px;
    }
    
    .item {
        margin-bottom: 25px;
    }
    
    .item::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .item .offer_pic {
        background-repeat: no-repeat;
        background-size: cover;
        float:left;
        width: 450px;
        height: 180px;
    }
    
    .item .offer_description {
        float:right;
        width: 50%;
        height: 160px;
        text-align: center;
        padding-top: 10px;
    }
    
    .item .title {
        font-family: "Helvetica";
        color:  #0f8ec7;
        font-size: 18px;
        font-weight: 500;
    }
    
    .item .item_description {
        font-family: "Helvetica";
        color:  #666666;
        font-size: 14px;
        font-weight: 500;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    
    .button_item {
        width: 90px;
        height: 30px;
        padding-top: 5px;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .item .lindblad_pic {
        background-image: url(pic/lindblad.png);
    }
    
    .item .hotel_pic {
        background-image: url(pic/hotel.png);
    }
    
    .item .kent_pic {
        background-image: url(pic/kent.png);
    }
    
    .item .wheels_pic {
        background-image: url(pic/wheels.png);
    }
    
    .item .crystal_pic {
        background-image: url(pic/crystal.png);
    }
    
    .item .emerging_pic {
        background-image: url(pic/emerging.png);
    }
    
    
    .bloom_that {
        width:900px;
        height: 180px;
        background: url(pic/bloom.png) no-repeat -10px 0px;
        background-size: cover;
        margin-bottom: 30px;
    }
    
    .bloom_that + span {
        position: absolute;
        left:45px;
        top: 10px;
        width:500px;
        font-family: "Corbel Light";
        color:  #ffffff;
        font-size: 42px;
        font-weight: 500;
        text-align: left;
    }
    
    .bloom_description {
        position: absolute;
        left: 45px;
        top: 45px;
        color:  #fffefe;
        font-family: "Corbel Light";
        font-size: 22px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-align: left;
    }
    
    .button_bloom {
        position: absolute;
        left: 45px;
        bottom:25px;
        width:100px;
        height: 30px;
        font-size: 13px;
        padding-top: 4.5px;
    }
    
    .offers + .parts {
        padding-bottom: 1px;
    }
    
    footer {
        display: block;
        text-align: center;
        padding: 15px 80px 15px 80px;
        font-family: "Helvetica";
        color:  #666666;
        font-size: 11px;
        font-weight: 500;
        line-height: 18px;
    }
}


/*========================================================================================*/
/*========================================================================================*/
/*========================================================================================*/


@media screen and (max-width: 800px) {
    
    body {
        background-color: #f5f5f5;
    }
    
    .position {
        width: 600px;
        margin-top: -8px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .parts {
        background-color: #ffffff;
    }
    
    .nav {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        left: -250px;
        padding: 15px 20px;
        /* плавный переход смещения панели */
        transition: left 0.5s;
        background: #0f8ec7;
        z-index: 2000;
    }


    .nav-button {
        position: absolute;
        left: 250px;
        top: 15px;
        padding: 0.5em;
        background: inherit;
        color: #dadada;
        cursor: pointer;
        font-size: 1.2em;
        line-height: 1;
        z-index: 2001;
        /* анимир. цвет текста при наведении */
        transition: color .25s ease-in-out;
    }

    .nav-button:after {
        content: '\2630';
        text-decoration: none;
    }

    .nav-button:hover {
        color: #f4f4f4;
    }


    [id='nav-button'] {
        position: absolute;
        display: none;
    }
    
    .nav h1 {
        width: 90%;
        padding: 0;
        margin: 5px 0px 10px 0px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, .5) 1px 1px 3px;
        font-size: 1.3em;
        line-height: 1.3em;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
    }


    [id='nav-button']:checked + .nav {
        left: 0;
        box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto; /*для полосы прокрутки при необходимости*/
    }


    [id='nav-button']:checked + .nav > .nav-button:after {
        content: '\2715';
    }


    .nav > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav > ul > li {
        line-height: 2.5;
        transform: translateX(-50%);
        transition: transform .5s .1s;
    }

    [id='nav-button']:checked ~ .nav > ul > li {
        transform: translateX(0);
    }


/* интервалы появления пунктов меню */

    .nav > ul > li:nth-child(2) {
        transition: transform .5s .1s;
    }

    .nav > ul > li:nth-child(3) {
        transition: transform .5s .2s;
    }

    .nav > ul > li:nth-child(4) {
        transition: transform .5s .3s;
    }


    .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        color: #dadada;
        width: 100%;
        text-decoration: none;
        /* плавный переход */
        transition: color .5s ease, padding .5s ease;
    }


    .nav > ul > li > a:hover,
    .nav > ul > li > a:focus {
        color: white;
        padding-left: 15px;
    }


/**
 * линия подчеркивания ссылок меню
 */

    .nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1.1px;
        width: 100%;
        transition: width 0s ease;
    }
    
    .nav > ul > li > a:hover:before {
        width: 0%;
        background: #ffffff;
        transition: width .8s ease;
    }

    
    .nav > ul > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1.1px;
        width: 100%;
        background: #ffffff;
        transition: width .5s ease;
    }


    .nav > ul > li > a:hover:after {
        width: 0%;
        background: transparent;
        transition: width 0s ease;
    }
    

    
    
    .morgan_stanley_logo {
        display: inline-block;
        width: 155px;
        height: 50px;
        background-image: url(pic/Morgan_Stanley_logo.png);
        background-repeat: no-repeat;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
    }
    
    .liv_giv_logo {
        display: inline-block;
        width:250px;
        height: 50px;
        background-image: url(pic/living_giving.png);
        background-repeat: no-repeat;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    
    .preview {
        position: relative;
    }
    
    .travel_offers + span {
        position: absolute;
        margin-left: 95px;
        top: 20px;
        width:420px;
        font-family: "Corbel Light";
        color:  black;
        font-size: 56px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-align: center;
    }
    
    .travel_offers {
        background-image: url(pic/header1.png);
        width: 600px;
        height: 580px;
        background-size: cover;
        margin-bottom: 30px;
    }
    
     a.button_white {
        box-sizing: border-box;
        display: block;
        background: #ffffff;
        border: 3px solid #ffffff;
        border-radius: 40px;
        color: #0f8ec7;
        text-decoration: none;
        text-align: center;      
        font-family: "Helvetica";
        font-weight: 500;
    }
    
    a.button_blue {
        box-sizing: border-box;
        display: block;
        background: #0f8ec7;
        border: 3px solid #0f8ec7;
        border-radius: 40px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        font-family: "Helvetica";
        font-weight: 500;
    }
    
    a.button_white:hover,
    a.button_blue:hover {
        border: 3px solid #c2c2c2;
    }
    
    .button_view_offers {
        width:140px;
        height: 40px;
        position: absolute;
        left:228px;
        top:515px;
        padding-top: 8.5px;
        font-size: 15px;
    }
    
    #upper_label {
        display: none;
    }
    
    .label {
        font-family: "Helvetica";
        color:  #666666;
        font-size: 18.85px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: center; 
        margin-top: -5px;
    }
    
    .part1::after {
        display: block;
        width: 460px;
        content: "Enjoy 10% off Lindblad-National Geographic expeditions plus complimentary membership.";
        font-family: "Helvetica";
        color:  #666666;
        font-size: 24px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: center;
        margin: -5px auto 15px auto;
    }
    
    .button_enroll_now {
        width:130px;
        height: 45px;
        font-size: 19px;
        line-height: 40px;
        margin: -15px auto 30px auto;
    }
    
    .part2 {
        background-color: #f5f5f5;
    }
    
    .saks_avenue {
        width: 600px;
        height: 380px;
        background: url(pic/saks2.png) no-repeat;
        background-size: cover;
    }
    
    .saks_avenue + span {
        position: absolute;
        left:45px;
        top: 945px;
        width:200px;
        font-family: "Corbel Light";
        color:  #ffffff;
        font-size: 48px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        text-align: left;
        line-height: 50px;
    }
    
    .saks_offer {
        margin: 30px auto 25px auto;
        width: 380px;
        font-family: "Helvetica";
        color:  #666666;
        font-size: 22.13px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: center;
        left:35px;
        top: 565px;
    }
    
    .button_white.button_saks {
        position: absolute;
        background: #0f8ec7;
        border-color: #0f8ec7;
        color: #ffffff;
        top: 1290px;
        left: 250px;
        width:120px;
        height: 36px;
        padding-top: 4.5px;
        font-size: 19px;
    }
    
    #item1 {
        display: none;
    }
    
    .offers {
        padding-top: 25px;
        margin-bottom: 25px;
    }
    
    .item {
        margin-bottom: 25px;
    }
    
    .item .offer_pic {
        background-repeat: no-repeat;
        background-size: cover;
        width: 600px;
        height: 240px;
        margin-bottom: 25px;
    }
    
    .item .offer_description {
        text-align: center;
    }
    
    .item .title {
        font-family: "Helvetica";
        color:  #666666;
        font-size: 18px;/* Приближение из-за подстановки шрифтов */
        font-weight: 300;
    }
    
    .item .item_description {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Helvetica";
        color:  #666666;
        font-size: 22.13px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
    }
    
    .button_item {
        width: 120px;
        height: 36px;
        padding-top: 4px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Helvetica";
        font-size: 19px;/* Приближение из-за подстановки шрифтов */
    }
    
    .item .hotel_pic {
        background-image: url(pic/engine.png);
        margin-top: 35px;
    }
    
    .item .kent_pic {
        background-image: url(pic/kent2.png);
    }
    
    .item .wheels_pic {
        background-image: url(pic/wheels2.png);
    }
    
    .item .crystal_pic {
        background-image: url(pic/crystal2.png);
    }
    
    .item .emerging_pic {
        background-image: url(pic/emerging2.png);
    }
    
    .bloom_that {
        width:600px;
        height: 200px;
        background: url(pic/bloom2.png) no-repeat;
        background-size: cover;
        margin-bottom: 25px;
    }
    
    .bloom_that + span {
        position: absolute;
        left:45px;
        top: 10px;
        width:220px;
        font-family: "Corbel Light";
        color:  #ffffff;
        font-size: 42px;
        font-weight: 500;
        text-align: left;
        line-height: 40px;
    }
    
    .bloom_description {
        position: absolute;
        left: 45px;
        top: 70px;
        color:  #fffefe;
        font-family: "Corbel Light";
        font-size: 22px;/* Приближение из-за подстановки шрифтов */
        font-weight: 600;
        text-align: left;
    }
    
    .button_bloom {
        position: absolute;
        left: 45px;
        bottom:20px;
        width:120px;
        height: 36px;
        font-size: 19px;
        padding-top: 4.5px;
    }
    
    #lower_label {
        display: none;
    }
    
    .offers + .parts {
        padding-bottom: 1px;
    }
    
    footer {
        margin-top: -20px;
        background: #ffffff;
        display: block;
        text-align: center;
        padding: 5px 80px 15px 80px;
        font-family: "Helvetica";
        color:  #666666;
        font-size: 15px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 20px;
    }
    
}
